body{
  background-color:#A6D6D6;
}
hr{
  border-style:dotted none none;
  border-color:#E8F0F2;
  border-width: 5px;
  height: 2px;
  width: 60%;
}
h1{
color:#39A2DB;
}
h2{
  color:#39A2DB;
}
h3{
  color:#39A2DB;
}
a {
  text-decoration: none ;
  color:#233E8B;

}

.hd{
  color: white;
}

input{
  border-style:solid solid solid;
  border-width: 1px;
  border-color:#39A2DB ;
  background-color:#E8F0F2;

}
textarea{
  border-style:solid solid solid;
  border-color: #39A2DB;
  background-color: #E8F0F2;
}
div{
  background-color: #39A2DB;
}
